<div class="row">
  <div class="mx-2 bg-warning-subtle rounded-3", style="width: 140px;">
    <div class="col text-center fs-4 fw-bold my-1">編集</div>
  </div>

  <nav class="justify-content-end mt-2 mb-3">
    <div class="col-1 btn btn-secondary btn-sm rounded-2", style="width: 60px;">
      <%= link_to '一覧へ', tasks_path, class: 'nav-link' %>
    </div>
  </nav>
</div>

<%= render partial: 'form', locals: { task: @task } %>
