<div class="row bg-dark-subtle rounded-3">
  <div class="col fs-4 fw-bold my-3">アルバム登録</div>
</div>

<nav class="justify-content-end">
  <%= link_to '一覧へ', tasks_path, class: 'nav-link' %>
</nav>

<%= render partial: 'form', locals: { task: @task } %>
